* {
  font-family: Ubuntu Mono;
}

/* Console Styling */

.code {
  background-color: rgb(42, 42, 42);
  color: white;
  font-family: Ubuntu Mono;
  border-radius: 7px;
  border-color: black;
  border-style: solid;
  border-width: 5px;
  padding: 0.5em;
  font-size: 20pt;
  min-height: 5.1em;
}

/* Buttons */

button {
  color: white;
  background-color: gray;
  border-radius: 5px;
  border-style: none;
  padding: 1em;
  box-shadow: 0px 0px 5px black;
}

button:hover {
  box-shadow: 0px 0px 10px black;
}

button.ans {
  font-size: 32px;
}

button.big {
  font-size: 40px;
  width: 250px;
  border-radius: 10px;
}

/* Main Divs */

.ModeVisible {
  display: block;
}

.ModeHidden {
    display: none;
}