/* Global Styling */

* {
  font-family: "Ubuntu Mono";
  color: #00DFFC;
}

.homeIcon {
  height: 1em;
}

.homeIcon path {
  fill: currentColor;
}

body {
  background-color: #343838;
  margin: 0px;
  padding: 0px;
  margin: 0px 10px 0px 10px;
}

/* Header Styling */

div.header {
  text-align: center;
  padding: 1em;
  background-color: #005F6B;
  border-radius: 0px 0px 10px 10px;
}

div.header:hover {
  color: gray;
}

p.header{
  font-size: 72pt; 
  padding: 0px;
  margin: 0px;
}

div.header:hover {
  color: gray;
}

/* Console Styling */

iframe {
  border: none;
}

/* Buttons */

button {
  background-color: #005F6B;
  border-radius: 5px;
  border-style: none;
  padding: 1em;
  margin: 1em;
  margin-top: 0px;
}

button:hover {
  background-color: #008C9E;
}

button.ans {
  font-size: 14px;
  width: 100%;
  border-style: none;
  border-radius: 10px;
}

button.big {
  font-size: 24pt;
  width: 200px;
  border-radius: 10px;
  border-style: none;
  border-width: 5px;
  margin: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/* Divs */

div.center {
  margin: 1em;
  margin-top: 0px;
  text-align: center;
}

div.credits {
  width: 100%;
  background-color: #2E6885;
  margin: 0px;
  padding: 0.5em;
  text-align: center;
}

/* Main Divs */

.ModeVisible {
  display: block;
}

.ModeHidden {
  display: none;
}

.flex {
  display: flex;
  display: -webkit-flex;
}

.container {
  padding: 1em;
}

/* Text styles */

.italics {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.black {
  color: black;
}

.small {
  font-size: 10pt;
}
